// 顏色
$gold: #F8C485;
$gold-lighten: #FCF5ED;
$gold-darken: #A75000;
$gold-darkest: #713C08;

// 漸層
$color-gradient: #F8C485, #E29942;
$color-gradient-light: #FFE6B7, #ECAC5E;
$color-gradient-blue: #EBF5FF 30%, #FFF 80%;
$color-gradient-gray: rgb(224, 224, 224), gray;

// 文字
$text-red: #FF2828;
$text-white: #FFF;
$text-black: #15161F;
$text-grey: #A3A4B1;
$text-grey-light: #AFAFBC;
$text-grey-darken: #7B7C96;
$text-gold-darken: #A75000;
